{{!-- <div class="container">
    <section class="hero is-warning is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="is-horizontal-center">
                <img src="/assets/img/burger.png" alt="Image Not Available">
            </div>
            <h1 class="title is-1">Eat Da Burger!</h1>
            <div class="field has-addons has-addons-centered">
                <div class="control">
                    <input class="input" type="text" placeholder="Enter a hamburger" id="newburger">
                </div>
            <div class="control">
                <button class="button is-danger create-form">
                    <span class="icon is-small" id="">
                        <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
        </div>
    </div>
    </section>
</div>
<div class="container">
<div class="columns">
    <div class="column">
        <article class="panel is-danger">
    <p class="panel-heading">
        Burgers
    </p>
    <p class="panel-tabs">
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                <button type="button" class="eatburger button is-danger" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="icon is-small"> <i class="fa fa-spoon" aria-hidden="true"></i></span></button>
                <hr>
            {{/unless}}
        {{/each}}
    </ul>
    </p>

</article>
</div>

<div class="column">

    <div class="columns">
    <div class="column">
        <article class="panel is-danger">
    <p class="panel-heading">
        Devoured
    </p>
    <p class="panel-tabs">
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                <button type="button" class="trashburger button" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="icon is-small"> <i class="fa fa-trash-o" aria-hidden="true"></i></span></span></button>
                <hr>
            {{/if}}
        {{/each}}
    </ul>
    </p>

</article>
</div>
</div>
</div> --}}


<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>